<footer class="bg-blue-300 p-5 rounded flex justify-center items-center">
    <p class="text-gray-600">
        <small>&copy; Copyright</small>
        Vineet Kumar, 2021
    </p>
</footer>

</body>
</html>