<%- include('partials/header') %>

<main>
  <section class="sec-padding hero-sec">
    <h1 class="text-center">
      Welcome <span class="color-sec"><%= user.name %> </span> to admin
      dashboard
    </h1>
  </section>
  <section class="sec-padding">
    <h2 class="text-center">This is Dashboard page</h2>

    <div class="flex center sec-padding">
      <a href="/admin/newPodcast" class="btn btn-ter mr-1"
        >Create New Podcast</a
      >
      <a href="/admin/listOfPodcast" class="btn btn-ter mr-1"
        >List Of Podcasts</a
      >
    </div>
  </section>
</main>

<%- include('partials/footer') %>