<%- include('partials/header') %>

<main>
  <section class="sec-padding hero-sec">
    <h1 class="text-center">
      Welcome <span class="color-sec"><%= user.name %> </span> to client
      dashboard
    </h1>
  </section>
  <section class="sec-padding">
    <h2 class="text-center">This is Dashboard page</h2>

    <div class="flex center sec-padding">
      <a
        href="/client/listOfPodcast/<%= user.userType %>"
        class="btn btn-ter mr-1"
        >List of podcasts</a
      >
      <a href="/client/newPodcast" class="btn btn-ter mr-1">createNew</a>
    </div>
  </section>
</main>

<%- include('partials/footer') %>