<% include partials/header %>

        <main class="m-20 min-screen-h flex justify-center items-center"  >
            <section class="">
                <h2 class="text-xl text-green-600 font-bold text-center mb-5">Login</h2>
                <form action="/users/login" method="POST" class="border-2 p-5 flex flex-col">
                    <% if(error) { %>
                        <p class="text-red-500 "><%= error %></p>
                    <% } %>
                    <input type="email" name="email" placeholder="Email" class="p-2 border border-grey-500 mb-5">
                    <input type="password" name="password" placeholder="Password" class="p-2 border border-grey-500 mb-5">
                    <button type="submit" class="px-3 py-2 bg-green-600 hover-bg-geen-900 text-white font-bold">Login</button>
                </form>
            </section>
        </main>
<% include partials/footer %>